<div class="container">
    <br>
    <h3>Registrate(es Gratis) </h3>
    <div  clas="cInfoUser">
        <br>
        <input class="form-control cInputUser" [(ngModel)]="user.email" type="text" name="email" placeholder="Correo electronico"><br>
        <input class="form-control cInputUser" [(ngModel)]="user.name" type="text" name="name" placeholder="Nombre"><br>
        <input class="form-control cInputUser" [(ngModel)]="user.password" type="password" name="password" placeholder="Contraseña"><br>
        <button class="cEditButton btn ">Registrarse</button>
    </div>
    <br>
</div>