<div class="container">
    <div>
        @if (idm) {

        
        <h3>Criticicas de la pelicula: {{movieReview.movieDTO.title}}({{movieReview.movieDTO.year}}) </h3>
        @if (role()) {

            <h5>                    
                <a href="/addReview/{{movieReview.movieDTO.idMovie}}" class="cButtonAdd">Agregar critica
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M12 5l0 14" />
                        <path d="M5 12l14 0" />
                      </svg>
                </a>
            </h5>
        }
        @if (!movieReview.reviewsDTO.length) {
            <h1>No existen criticas para esta pelicula todavia</h1>
        }
        @for (review of movieReview.reviewsDTO; track $index) {
            <div class="card cCard ">
                <div class="cNameReview">
                    Usuario:<br>
                    <a href="/users/{{review.idUser}}/review">{{review.name}}</a><br><br>
                    Titulo:<br>
                    {{review.title}}
                </div>
               
                <div class="cReview">
                   
                    {{review.review}}
                </div>
                @if (name()==review.name) {
                    
                    <h5>
                        <a href="/reviews/edit/{{movieReview.movieDTO.idMovie}}/{{review.idUser}}/{{review.title}}" class="cButtonEdit">Editar
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                                <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
                                <path d="M16 5l3 3" />
                              </svg>
                        </a>
                        
                        <a href="javascript:void(0)" (click)="delReview(movieReview.movieDTO.idMovie.toString(), review.idUser.toString(), review.title)"  class="cButtonDell">Borrar
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M4 7l16 0" />
                                <path d="M10 11l0 6" />
                                <path d="M14 11l0 6" />
                                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                              </svg></a>
                    </h5>
                }
                
            </div>
        }
        }@else if(idu){
            
                
            <h3>Criticicas del usuario {{userReview.userDTO.name}} </h3>
            
        
        @if (!userReview.reviewsDTO.length) {
            <h1>Este usuario no tiene criticas</h1>
        }
        @for (review of userReview.reviewsDTO; track $index) {
            <div class="card cCard ">
                <div class="cNameReview">
                    Pelicula:<br>
                    <a href="/movies/{{review.idMovie}}">{{review.titleMovie}}</a><br><br>
                    Titulo:<br>
                    {{review.title}}
                </div>
               
                <div class="cReview">
                   
                    {{review.review}}
                </div>
                @if (name()==userReview.userDTO.name) {

                    <h5>
                        <a href="/reviews/edit/{{review.idMovie}}/{{userReview.userDTO.idUser}}/{{review.title}}" class="cButtonEdit">Editar
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                                <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
                                <path d="M16 5l3 3" />
                              </svg>
                        </a>
                        
                        <a href="javascript:void(0)" (click)="delReview(review.idMovie.toString(), userReview.userDTO.idUser.toString(), review.title)"  class="cButtonDell">Borrar
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M4 7l16 0" />
                                <path d="M10 11l0 6" />
                                <path d="M14 11l0 6" />
                                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                              </svg></a>
                    </h5>
                }
                
            </div>
        }
        }
        <div><br><br></div>
    </div>
</div>


