<div class="container cContainerMovie">
    <h3>{{idMovie? 'Editar pelicula':'Agregar pelicula'}}</h3>
    @if (idMovie) {
        <div class="cDivCover">
            <img class="card-img cCover" src="{{imageUrl}}">
        </div>
    }
    <div class="cFormMovie">
        <form class="cFormMovieForm" [formGroup]="myForm">
            Titulo 
            <input class="form-control cAddInputMovie" 
                   placeholder=""
                   type="text"
                   formControlName="title">
                   @if (notValid('title')) {

                    <span class=" text-danger">
                       Titulo necesario
                    </span>
                }<br>
            Año
            <input class="form-control cAddInputMovie" 
                   placeholder=""
                   type="number"
                   formControlName="year">
                   @if (notValid('year')) {

                    <span class=" text-danger">
                       El Año no puede ser menor a 1895
                    </span>
                }<br>
            {{idMovie? 'Nueva portada':'Portada'}}
            <input class="form-control cAddInputMovie"
                   placeholder=""
                   type="file"
                   id="cover"
                   formControlName="cover" ><br>
            Genero
            <select class="form-control cAddInputMovie"  
                    name="idGender"
                    type="number"
                    formControlName="idGender">   
                <option value="">Seleccione un genero</option>
                @for (gender of genders; track gender.idGender) {
                    <option value="{{gender.idGender}}">{{gender.name}}</option>
                }
            </select>
            @if (notValid('idGender')) {

                <span class=" text-danger">
                  Seleccione un genero
                </span>
            }<br>
            Pais
            <input class="form-control cAddInputMovie" 
                   placeholder=""
                   type="text"
                   formControlName="country">
                   @if (notValid('country')) {

                    <span class=" text-danger">
                        Pais necesario
                    </span>
                }<br>
            @if (myForm.valid) {
                @if (!idMovie) {

                    <h5>
                        <a href="javascript:void(0)" (click)="submit()" class="cAddButtonMovie">Enviar</a>
                    </h5>
                }@else {
                    <h5>
                        <a href="javascript:void(0)" (click)="edit()" class="cAddButtonMovie">Enviar</a>
                    </h5>
                }

            }@else {
                <h5>
                    <a class="cAddButtonMovie">Enviar</a>
                </h5>
            }       
        </form>
        
    </div>
    <br><br><br>
</div>
