@if (id) {
    @if (movie){
    <div class="card cCardOne">
        <div class="cYear">{{movie.year}}</div>

            
            <img class="card-img cCover" src="{{movie.cover}}" alt="Card image cap">
            
            <div class="card cCardBody">
                <h3 class="card-title">{{movie.title}}</h3>
                <p class="card-text">{{movie.gender.name}}</p>
                <p class="card-text">{{movie.country}}</p>
                
                <h5>
                    <a routerLink="/movies/{{movie.idMovie}}/review" class="cReviewButton">Criticas</a>
                </h5>
            </div>
            @if (role()=="admin") {
            <h5>
                <a (click)="del(movie.idMovie.toString())" href="javascript:void(0)" class="cReviewButtonD">Borrar
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M4 7l16 0" />
                        <path d="M10 11l0 6" />
                        <path d="M14 11l0 6" />
                        <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                        <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                      </svg></a>
            </h5>
            <h5>
                <a routerLink="/movies/edit/{{movie.idMovie}}" class="cReviewButtonE">Editar
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                        <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
                        <path d="M16 5l3 3" />
                      </svg>
                </a>
            </h5>}
        </div>
        }@else {
            <h3>Pelicula no encontrada</h3>
        }
            
}@else if (q) {
    <div class="container cListMovie">

        @if (movies.length) {
            
            <h3>Busqueda de: {{q}}</h3>
            @for (movie of movies; track movie.idMovie) {
                <div class="card cCard">
                    <div class="cYear">{{movie.year}}</div>
                    
                    <img class="card-img cCover" src="{{movie.cover}}" alt="Card image cap">
                    
                    <div class="card cCardBody">
                    <h3 class="card-title">{{movie.title}}</h3>
                    <p class="card-text">{{movie.gender.name}}</p>
                    <p class="card-text">{{movie.country}}</p>
                    
                    <h5>
                        <a routerLink="/movies/{{movie.idMovie}}/review" class="cReviewButton">Criticas</a>
                    </h5>
                    
                </div>
                @if (role()=="admin") {
                <h5>
                    <a (click)="del(movie.idMovie.toString())" href="javascript:void(0)" class="cReviewButtonD">Borrar
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M4 7l16 0" />
                            <path d="M10 11l0 6" />
                            <path d="M14 11l0 6" />
                            <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                            <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                          </svg></a>
                </h5>
                <h5>
                    <a routerLink="/movies/edit/{{movie.idMovie}}" class="cReviewButtonE">Editar
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                            <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
                            <path d="M16 5l3 3" />
                          </svg>
                    </a>
                </h5>}
            </div>
        } 
    }@else {
        <h3>Busqueda de: {{q}}</h3>
        <p>No se encuentra ningun registro</p>
    }
</div>
}@else if (pageableMovie.content.length){
<div class="container cListMovie" >
    @if (role()=="admin") {
    <h5>
        <a routerLink="/movies/add" class="cAddMovieButton">Agregar pelicula
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M12 5l0 14" />
                <path d="M5 12l14 0" />
              </svg>
        </a>
    </h5>}
        <h3 >Lista de Peliculas</h3>
        <p>ordenar:&nbsp;&nbsp;&nbsp; 
        @if(order && sortField=="year"){
            <span class="cField"><a (click)="setOrder('year', true)" href="javascript:void(0)" class="cOrder">año</a>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-arrow-up-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-4.98 3.66l-.163 .01l-.086 .016l-.142 .045l-.113 .054l-.07 .043l-.095 .071l-.058 .054l-4 4l-.083 .094a1 1 0 0 0 1.497 1.32l2.293 -2.293v5.586l.007 .117a1 1 0 0 0 1.993 -.117v-5.585l2.293 2.292l.094 .083a1 1 0 0 0 1.32 -1.497l-4 -4l-.082 -.073l-.089 -.064l-.113 -.062l-.081 -.034l-.113 -.034l-.112 -.02l-.098 -.006z" stroke-width="0" fill="currentColor" />
                  </svg></span>&nbsp;&nbsp; 
        }@else if (!order && sortField=="year") {
            <span class="cField"><a (click)="setOrder('year', true)" href="javascript:void(0)" class="cOrder">año</a>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-arrow-down-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-5 3.66a1 1 0 0 0 -1 1v5.585l-2.293 -2.292l-.094 -.083a1 1 0 0 0 -1.32 1.497l4 4c.028 .028 .057 .054 .094 .083l.092 .064l.098 .052l.081 .034l.113 .034l.112 .02l.117 .006l.115 -.007l.114 -.02l.142 -.044l.113 -.054l.111 -.071a.939 .939 0 0 0 .112 -.097l4 -4l.083 -.094a1 1 0 0 0 -1.497 -1.32l-2.293 2.291v-5.584l-.007 -.117a1 1 0 0 0 -.993 -.883z" stroke-width="0" fill="currentColor" />
                  </svg></span>&nbsp;&nbsp; 
        }@else {
            <span class="cField"><a (click)="setOrder('year', true)" href="javascript:void(0)">año</a>&nbsp;&nbsp; </span>
        }
        
        @if(order && sortField=="title"){
        <span class="cField"><a (click)="setOrder('title', true)" href="javascript:void(0)" class="cOrder">titulo</a>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-arrow-up-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-4.98 3.66l-.163 .01l-.086 .016l-.142 .045l-.113 .054l-.07 .043l-.095 .071l-.058 .054l-4 4l-.083 .094a1 1 0 0 0 1.497 1.32l2.293 -2.293v5.586l.007 .117a1 1 0 0 0 1.993 -.117v-5.585l2.293 2.292l.094 .083a1 1 0 0 0 1.32 -1.497l-4 -4l-.082 -.073l-.089 -.064l-.113 -.062l-.081 -.034l-.113 -.034l-.112 -.02l-.098 -.006z" stroke-width="0" fill="currentColor" />
              </svg></span>&nbsp;&nbsp;  
        }@else if (!order && sortField=="title") {
        <span class="cField"><a (click)="setOrder('title', true)" href="javascript:void(0)" class="cOrder">titulo</a>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-arrow-down-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-5 3.66a1 1 0 0 0 -1 1v5.585l-2.293 -2.292l-.094 -.083a1 1 0 0 0 -1.32 1.497l4 4c.028 .028 .057 .054 .094 .083l.092 .064l.098 .052l.081 .034l.113 .034l.112 .02l.117 .006l.115 -.007l.114 -.02l.142 -.044l.113 -.054l.111 -.071a.939 .939 0 0 0 .112 -.097l4 -4l.083 -.094a1 1 0 0 0 -1.497 -1.32l-2.293 2.291v-5.584l-.007 -.117a1 1 0 0 0 -.993 -.883z" stroke-width="0" fill="currentColor" />
              </svg></span>&nbsp;&nbsp;  
    }@else {
        <span class="cField"><a (click)="setOrder('title', true)" href="javascript:void(0)">titulo</a></span>&nbsp;&nbsp; 
    }
    
    @if(order && sortField=="gender"){
        <span class="cField"><a (click)="setOrder('gender', true)" href="javascript:void(0)" class="cOrder">genero</a>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-arrow-up-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-4.98 3.66l-.163 .01l-.086 .016l-.142 .045l-.113 .054l-.07 .043l-.095 .071l-.058 .054l-4 4l-.083 .094a1 1 0 0 0 1.497 1.32l2.293 -2.293v5.586l.007 .117a1 1 0 0 0 1.993 -.117v-5.585l2.293 2.292l.094 .083a1 1 0 0 0 1.32 -1.497l-4 -4l-.082 -.073l-.089 -.064l-.113 -.062l-.081 -.034l-.113 -.034l-.112 -.02l-.098 -.006z" stroke-width="0" fill="currentColor" />
              </svg></span>
    }@else if (!order && sortField=="gender") {
        <span class="cField"><a (click)="setOrder('gender', true)" href="javascript:void(0)" class="cOrder">genero</a>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-arrow-down-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-5 3.66a1 1 0 0 0 -1 1v5.585l-2.293 -2.292l-.094 -.083a1 1 0 0 0 -1.32 1.497l4 4c.028 .028 .057 .054 .094 .083l.092 .064l.098 .052l.081 .034l.113 .034l.112 .02l.117 .006l.115 -.007l.114 -.02l.142 -.044l.113 -.054l.111 -.071a.939 .939 0 0 0 .112 -.097l4 -4l.083 -.094a1 1 0 0 0 -1.497 -1.32l-2.293 2.291v-5.584l-.007 -.117a1 1 0 0 0 -.993 -.883z" stroke-width="0" fill="currentColor" />
              </svg></span>
    }@else {
        <span class="cField"><a (click)="setOrder('gender', true)" href="javascript:void(0)">genero</a> </span>
    }
</p>
@for (movie of pageableMovie.content; track movie.idMovie) {
    <div class="card cCard">
        <div class="cYear">{{movie.year}}</div>
        
        <img class="card-img cCover" src="{{movie.cover}}" alt="Card image cap">
        
        <div class="card cCardBody">
            <h3 class="card-title">{{movie.title}}</h3>
            <p class="card-text">{{movie.gender.name}}</p>
            <p class="card-text">{{movie.country}}</p>
            
            <h5>
                <a routerLink="/movies/{{movie.idMovie}}/review" class="cReviewButton">Criticas</a>
            </h5>
            
        </div>
        @if (role()=="admin") {

            <h5>
                <a (click)="del(movie.idMovie.toString())" href="javascript:void(0)" class="cReviewButtonD">Borrar
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M4 7l16 0" />
                        <path d="M10 11l0 6" />
                        <path d="M14 11l0 6" />
                        <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                        <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                      </svg></a>
            </h5>
            <h5>
                <a routerLink="/movies/edit/{{movie.idMovie}}" class="cReviewButtonE">Editar
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                        <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
                        <path d="M16 5l3 3" />
                      </svg>
                </a>
            </h5>
        }
    </div>
        } 
    <div style="text-align: center" >
    Total Items: <a>{{pageableMovie.totalElements}} </a><br>
    
    @for (url of urls; track $index) {
        @if(pageableMovie.pageable.pageNumber!=$index){
            
            <a  (click)="goTo(url)" href="javascript:void(0)">{{$index+1}}</a>&nbsp;
        }@else {
            
            <a>{{$index+1}}</a>&nbsp;
        }
        
        
    }<br>
    @if (pageableMovie.pageable.pageNumber>=1) {
        <a (click)="goTo(1)" href="javascript:void(0)">First</a>&nbsp;
    }@else {
        <span>First</span>&nbsp;
    }
    
    @if (pageableMovie.pageable.pageNumber>=1) {
        <a (click)="goTo(pageableMovie.pageable.pageNumber)" href="javascript:void(0)">⋘</a>&nbsp;
    }@else {
        <span>⋘</span>&nbsp;
    }
    @if (pageableMovie.totalPages>pageableMovie.pageable.pageNumber+1) {
        
        <a (click)="goTo(pageableMovie.pageable.pageNumber+2)" href="javascript:void(0)">⋙</a>&nbsp;
    }@else {
    
        <span >⋙</span>&nbsp;
    }
    
    @if (pageableMovie.pageable.pageNumber<pageableMovie.totalPages-1) {
        
        <a (click)="goTo(pageableMovie.totalPages)" href="javascript:void(0)">Last</a>
    }@else {
        <span>Last</span>
        
    }
</div>
</div>    
}
@else {

    <h3>Error al cargar la BBDD</h3>
}

